@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
$font-family-base: "Outfit", sans-serif;
$font-weight-base: 400;

$font-size-base: 1rem;
// $line-height-base: 0;

$h1-font-size: $font-size-base * 4.209;
$h2-font-size: $font-size-base * 3.157;
$h3-font-size: $font-size-base * 1.777;
$h4-font-size: $font-size-base * 1.333;
$h5-font-size: $font-size-base * 0.85;
$h6-font-size: $font-size-base * 0.75;

$headings-font-family: "Outfit", serif;
$headings-font-weight: 200;

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;
$brand: #2c4d97;
$white: #fafafa;
$secondary-brand: #bdd140;
$eletric-blue: #2ef0ff;

$spacer: 8px;
$spacers: (
	0: 0,
	1: (
		$spacer * 1,
	),
	2: (
		$spacer * 2,
	),
	3: (
		$spacer * 3,
	),
	4: (
		$spacer * 4,
	),
	5: (
		$spacer * 5,
	),
	6: (
		$spacer * 6,
	),
	7: (
		$spacer * 7,
	),
	8: (
		$spacer * 8,
	),
	9: (
		$spacer * 9,
	),
	10: (
		$spacer * 10,
	),
);
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
